<p>
  <strong>Type:</strong>
  <%= @discontinue_event.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= Location.find(@discontinue_event.origin_id).name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= Location.find(@discontinue_event.destination_id).name %>
</p>

<p>
  <strong>Transport company:</strong>
  <%= Company.find(@discontinue_event.transport_company_id).name %>
</p>

<p>
  <strong>Transport type:</strong>
  <%= @discontinue_event.transport_type_id %>
</p>
<p><%= link_to "Show Figures For This Event", 'figures/event_figures/'+@event.id.to_s %></p>
<%= link_to 'Back', events_path %>


