<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @discontinue_event.type %>
</p>

<p>
  <strong>Route:</strong>
  <%= @discontinue_event.route_id %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @discontinue_event.origin_id %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @discontinue_event.destination_id %>
</p>

<p>
  <strong>Transport company:</strong>
  <%= @discontinue_event.transport_company_id %>
</p>

<p>
  <strong>Transport type:</strong>
  <%= @discontinue_event.transport_type_id %>
</p>

<%= link_to 'Back', events_path %>
