<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @mail_event.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @mail_event.origin_id %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @mail_event.destination_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @mail_event.weight %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @mail_event.volume %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @mail_event.priority_id %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @mail_event.price %>
</p>

<p>
  <strong>Time of Entry:</strong>
  <%= @mail_event.created_at %>
</p>

<%= link_to 'Back', events_path %>
