<p>
  <strong>Type:</strong>
  <%= @mail_event.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= Location.find(@mail_event.origin_id).name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= Location.find(@mail_event.destination_id).name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @mail_event.weight %>g
</p>

<p>
  <strong>Volume:</strong>
  <%= @mail_event.volume %>cm³
</p>

<p>
  <strong>Priority:</strong>
  <%= Priority.find(@mail_event.priority_id).name %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @mail_event.price %>
</p>

<p>
  <strong>Time of Entry:</strong>
  <%= @mail_event.created_at %>
</p>
<p><%= link_to "Show Figures For This Event", '/figures/event_figures/'+@mail_event.id.to_s %></p>
<%= link_to 'Back', events_path %>
