<p id="notice"><%= notice %></p>

<h1>
  <%= @company.name %>
</h1>
<p>
	<strong>Routes Offered</strong>
</p>
<table>
	<tr>
		<td><strong>From</strong></td>
		<td><strong>To</strong></td>
		<td><strong>Active</strong></td>
	</tr>
<% @company.route_segments.each do |segment| %>
      <tr>
        <td><%= segment.from_location.name %></td>
		<td><%= segment.to_location.name %></td>
        <td><%= segment.active.to_s %></td>
      </tr>
    <% end %>
</table>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
