<%= form_for(@mail_request) do |f| %>
  <% if @mail_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mail_request.errors.count, "error") %> prohibited this mail_request from being saved:</h2>

      <ul>
      <% @mail_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mail_route_id %><br>
    <%= f.number_field :mail_route_id %>
  </div>
  <div class="field">
    <%= f.label :weight%><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.number_field :volume %>
  </div>
  <div class="field">
    <%= f.label :priority_id %><br>
    <%= f.number_field :priority_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
