<%= form_for(@mail_request) do |f| %>
  <% if @mail_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mail_request.errors.count, "error") %> prohibited this mail_request from being saved:</h2>

      <ul>
      <% @mail_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'To' %><br>
    <%= f.collection_select :to_id, Location.all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label 'From' %><br>
    <%= f.collection_select :from_id, Location.all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label "Weight(g)"%><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label "Volume(cm³)" %><br>
    <%= f.number_field :volume %>
  </div>
  <div class="field">
    <%= f.label 'Priority' %><br>
    <%= f.collection_select :priority_id, Priority.all, :id, :name%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
