<p id="notice"><%= notice %></p>

<h2>Segments</h2>
<ol>
  <% @mail_request.segments.each do |segment| %>
  <li>
    <%= segment.from_location.name + ' > ' + segment.to_location.name %>
  </li>
  <% end %>
</ol>

<p>
  <strong>Price:</strong>
  <%= @mail_request.price %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @mail_request.weight %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @mail_request.volume %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @mail_request.priority.name %>
</p>

<p>
  <strong>Delivery Time:</strong>
  <%= @mail_request.post_completion_at %>
</p>

<%= link_to 'Edit', edit_mail_request_path(@mail_request) %> |
<%= link_to 'Back', mail_requests_path %>
