<h2>Segments</h2>
<ol>
  <% @mail_request.mail_request_route_segments.each do |mrrs| %>
  <li>
    <% if !mrrs.reversed%>
    <%= link_to mrrs.segment.from_location.name + ' > ' + mrrs.segment.to_location.name, mrrs.segment%>
    <% end %>
    <% if mrrs.reversed%>
    <%= link_to mrrs.segment.to_location.name + ' > ' + mrrs.segment.from_location.name, mrrs.segment%>
    <% end %>
  </li>
  <% end %>
</ol>

<p>
  <strong>Price:</strong>
  <%= Helper.decimal_as_currency(@mail_request.price) %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @mail_request.weight %>g
</p>

<p>
  <strong>Volume:</strong>
  <%= @mail_request.volume %>cm³
</p>

<p>
  <strong>Priority:</strong>
  <%= @mail_request.priority.name %>
</p>

<p>
  <strong>Delivery Time:</strong>
  <%= Helper.time_format(@mail_request.post_completion_at) %>
</p>

<p>
  <strong>Created At:</strong>
  <%= Helper.time_format(@mail_request.created_at) %>
</p>

<%= link_to 'Edit', edit_mail_request_path(@mail_request) %> |
<%= link_to 'Back', mail_requests_path %>
