<div id="content">
	<div id="sidebar">
		<%= render "layouts/sidebar" %>
	</div>
<div id="main">
<h1>Listing mail_request_route_segments</h1>

<table>
  <thead>
    <tr>
      <th>Route segment ID</th>
	  <th>To</th>
	  <th>From</th>
      <th>Mail request</th>
	  <th>Request Created At</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_request_route_segments.each do |mail_request_route_segment| %>
      <tr>
        <td><%= mail_request_route_segment.route_segment_id %></td>
		<td><%= mail_request_route_segment.segment.to_location.name %></td>
		<td><%= mail_request_route_segment.segment.from_location.name %></td>
		<td><%= mail_request_route_segment.mail_request_id %></td>
        <td><%= mail_request_route_segment.request.created_at %></td>
        <td><%= link_to 'Show', mail_request_route_segment %></td>
        <td><%= link_to 'Edit', edit_mail_request_route_segment_path(mail_request_route_segment) %></td>
        <td><%= link_to 'Destroy', mail_request_route_segment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail request route segment', new_mail_request_route_segment_path %>
<p>Return to the <%= link_to 'homepage', controller: 'kps' %></p>
</div>