<%= form_for(@route_segment) do |f| %>
  <% if @route_segment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route_segment.errors.count, "error") %> prohibited this route_segment from being saved:</h2>

      <ul>
      <% @route_segment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label 'To' %><br>
    <%= f.collection_select :to_id, Location.all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label 'From' %><br>
    <%= f.collection_select :from_id, Location.all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label 'Cost per cm³ ($)' %><br>
    <%= f.text_field :costVolume %>
  </div>
  <div class="field">
    <%= f.label 'Cost per g ($)' %><br>
    <%= f.text_field :costWeight %>
  </div>
  <div class="field">
    <%= f.label 'Company' %><br>
    <%= f.collection_select :company_id, Company.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label 'Priority' %><br>
    <%= f.collection_select :priority_id, Priority.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label 'Start Day' %><br>
    <%= f.collection_select :day, RouteSegmentsHelper.get_days, :day,:name %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.number_field :frequency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
