<h1>Route Segments</h1>

<%= link_to 'New Route segment', new_route_segment_path %>

<br>

<table>
  <thead>
    <tr>
      <th>End One</th>
      <th>End Two</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Duration</th>
      <th>Volume Cost</th>
      <th>Weight Cost</th>
      <th>Company</th>
	    <th>Start Day</th>
	    <th>Frequency</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @route_segments.each do |route_segment| %>
      <tr>
        <td><%= link_to route_segment.from_location.name, route_segment.from_location %></td>
        <td><%= link_to route_segment.to_location.name, route_segment.to_location %></td>
        <td><%= route_segment.active ?  'Active' : 'Inactive' %></td>
        <td><%= route_segment.priority.name %></td>
        <td><%= route_segment.duration %> hours</td>
        <td><%= Helper.decimal_as_currency(route_segment.costVolume) %> per cm³</td>
        <td><%= Helper.decimal_as_currency(number_with_precision(route_segment.costWeight, :precision => 2)) %> per gram</td>
        <td><%= route_segment.company.name %></td>
		<td><%= Helper.time_day(TimeHelper.first_day(route_segment, route_segment.day).to_datetime) %></td>
		<td>Every <%= route_segment.frequency %> hour(s)</td>
        <td><%= link_to 'Show', route_segment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
