<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @route_segment.from_location.name %>
</p>

<p>
  <strong>To:</strong>
  <%= @route_segment.to_location.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @route_segment.active ?  'Active' : 'Inactive' %>
</p>

<p>
  <strong>Cost:</strong>
  <%= Helper.decimal_as_currency(@route_segment.cost) %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @route_segment.duration %> hours
</p>

<p>
  <strong>Costvolume:</strong>
  $<%= @route_segment.costVolume %> per cm³
</p>

<p>
  <strong>Costweight:</strong>
  $<%= number_with_precision(@route_segment.costWeight, :precision => 2) %> per gram
</p>

<p>
  <strong>Company:</strong>
  <%= @route_segment.company.name %>
</p>

<%= link_to 'Edit', edit_route_segment_path(@route_segment) %> |
<%= link_to 'Back', route_segments_path %>
