<p id="notice"><%= notice %></p>

<h1>
  <%= @route_segment.company.name+" Route" %>
</h1>

<p>
  <strong>End One:</strong>
  <%= link_to @route_segment.from_location.name, @route_segment.from_location %>
</p>

<p>
  <strong>End Two:</strong>
  <%= link_to @route_segment.to_location.name, @route_segment.to_location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @route_segment.active ?  'Active' : 'Inactive' %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @route_segment.priority.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @route_segment.duration %> hours
</p>

<p>
  <strong>Costvolume:</strong>
  <%= Helper.decimal_as_currency(@route_segment.costVolume) %> per cm³
</p>

<p>
  <strong>Costweight:</strong>
  <%= Helper.decimal_as_currency(number_with_precision(@route_segment.costWeight, :precision => 2)) %> per gram
</p>

<p>
  <strong>Start Day:</strong>
  <%= Helper.time_day(TimeHelper.first_day(@route_segment, @route_segment.day).to_datetime) %>
</p>

<p>
  <strong>Frequency:</strong>
  Every <%= @route_segment.frequency %> hour(s)
</p>

<%= link_to 'Edit', edit_route_segment_path(@route_segment) %> |
<%= link_to 'Back', route_segments_path %>
