<table width=150 border = "0" align="left" border-collapse: collapse>
	<tr align="center">
		<td  height=50>
		LOGO
		</td>
	</tr>
	<tr>
		<td>
		<%= link_to image_tag("button_companies.png", onmouseover: "this.src='#{asset_path('button_companies_sel.png')}'", onmouseout: "this.src='#{asset_path('button_companies.png')}'", alt: "Companies"), '/companies' %>
		</td>
	</tr>
	<tr>
		<td>
		<%= link_to image_tag("button_locations.png", onmouseover: "this.src='#{asset_path('button_locations_sel.png')}'", onmouseout: "this.src='#{asset_path('button_locations.png')}'", alt: "Locations"), '/locations' %>
		</td>
	</tr>
	<tr>
		<td>
		<%= link_to image_tag("button_mrroutesegments.png", onmouseover: "this.src='#{asset_path('button_mrroutesegments_sel.png')}'", onmouseout: "this.src='#{asset_path('button_mrroutesegments.png')}'", alt: "Mail Request Route Segments"), '/mail_request_route_segments' %>
		</td>
	</tr>
	<tr>
		<td>
		<%= link_to image_tag("button_mailrequests.png", onmouseover: "this.src='#{asset_path('button_mailrequests_sel.png')}'", onmouseout: "this.src='#{asset_path('button_mailrequests.png')}'", alt: "Mail Requests"), '/mail_requests' %>
		</td>
	</tr>
	<tr>
		<td>
		<%= link_to image_tag("button_mailroutes.png", onmouseover: "this.src='#{asset_path('button_mailroutes_sel.png')}'", onmouseout: "this.src='#{asset_path('button_mailroutes.png')}'", alt: "Mail Routes"), '/mail_routes' %>
		</td>
	</tr>
	<tr>
		<td>
		<%= link_to image_tag("button_priorities.png", onmouseover: "this.src='#{asset_path('button_priorities_sel.png')}'", onmouseout: "this.src='#{asset_path('button_priorities.png')}'", alt: "Priorities"), '/priorities' %>
		</td>
	</tr>
	<tr>
		<td>
		<%= link_to image_tag("button_route_segments.png", onmouseover: "this.src='#{asset_path('button_route_segments_sel.png')}'", onmouseout: "this.src='#{asset_path('button_route_segments.png')}'", alt: "Route Segments"), '/route_segments' %>
		</td>
	</tr>
	<tr>
		<td>
		<%= link_to image_tag("button_events.png", onmouseover: "this.src='#{asset_path('button_events_sel.png')}'", onmouseout: "this.src='#{asset_path('button_events.png')}'", alt: "Events"), '/events' %>
		</td>
	</tr>
		
</table>
