<table width=150 border = "0" align="left" border-collapse: collapse>
	<tr align="center" class="side_table">
		<td  height=50 class="side_table">
		<%= link_to image_tag("button_logo.png", onmouseover: "this.src='#{asset_path('button_logo_sel.png')}'", onmouseout: "this.src='#{asset_path('button_logo.png')}'", alt: "Kps"), '/' %>
		</td>
	</tr>
	<tr class="side_table">
		<td class="side_table">
		<%= link_to image_tag("button_companies.png", onmouseover: "this.src='#{asset_path('button_companies_sel.png')}'", onmouseout: "this.src='#{asset_path('button_companies.png')}'", alt: "Companies"), '/companies' %>
		</td>
	</tr>
	<tr class="side_table">
		<td class="side_table">
		<%= link_to image_tag("button_locations.png", onmouseover: "this.src='#{asset_path('button_locations_sel.png')}'", onmouseout: "this.src='#{asset_path('button_locations.png')}'", alt: "Locations"), '/locations' %>
		</td>
	</tr>
	<tr class="side_table">
		<td class="side_table">
		<%= link_to image_tag("button_mailrequests.png", onmouseover: "this.src='#{asset_path('button_mailrequests_sel.png')}'", onmouseout: "this.src='#{asset_path('button_mailrequests.png')}'", alt: "Mail Requests"), '/mail_requests' %>
		</td>
	</tr>
	<tr class="side_table">
		<td class="side_table">
		<%= link_to image_tag("button_routemargins.png", onmouseover: "this.src='#{asset_path('button_routemargins_sel.png')}'", onmouseout: "this.src='#{asset_path('button_routemargins.png')}'", alt: "Mail Routes"), '/mail_routes' %>
		</td>
	</tr>
	<tr class="side_table">
		<td class="side_table">
		<%= link_to image_tag("button_route_segments.png", onmouseover: "this.src='#{asset_path('button_route_segments_sel.png')}'", onmouseout: "this.src='#{asset_path('button_route_segments.png')}'", alt: "Route Segments"), '/route_segments' %>
		</td>
	</tr>
	<tr class="side_table">
		<td class="side_table">
		<%= link_to image_tag("button_figures.png", onmouseover: "this.src='#{asset_path('button_figures_sel.png')}'", onmouseout: "this.src='#{asset_path('button_figures.png')}'", alt: "Figures"), '/figures' %>
		</td>
	</tr>
	<tr class="side_table">
		<td class="side_table">
		<%= link_to image_tag("button_.png", onmouseover: "this.src='#{asset_path('button__sel.png')}'", onmouseout: "this.src='#{asset_path('button_.png')}'", alt: "Help"), '/help' %>
		</td>
	</tr>
		
</table>
