<div id="content">
	<div id="sidebar">
		<%= render "layouts/sidebar" %>
	</div>
<div id="main">
<h1>Listing mail_routes</h1>

<table>
  <thead>
    <tr>
	  <th>From</th>
      <th>To</th>
      <th>Margin</th>
      <th>Priority</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_routes.each do |mail_route| %>
      <tr>
		<td><%= mail_route.from_location.name %></td>
        <td><%= mail_route.to_location.name %></td>
        <td><%= mail_route.margin %></td>
        <td><%= mail_route.priority.name %></td>
        <td><%= link_to 'Show', mail_route %></td>
        <td><%= link_to 'Edit', edit_mail_route_path(mail_route) %></td>
        <td><%= link_to 'Destroy', mail_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail route', new_mail_route_path %>
<p>Return to the <%= link_to 'homepage', controller: 'kps' %></p>
</div>