<p>
  <strong>To:</strong>
  <%= @mail_route.to_location.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @mail_route.from_location.name %>
</p>

<p>
  <strong>Margin:</strong>
  <%= @mail_route.margin %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @mail_route.priority.name %>
</p>

<%= link_to 'Edit', edit_mail_route_path(@mail_route) %> |
<%= link_to 'Back', mail_routes_path %>
