<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Weight</th>
      <th>Volume</th>
      <th>Priority</th>
      <th>Price per gram</th>
      <th>Price per cubic cm</th>
      <th>Transport company</th>
      <th>Transport type</th>
      <th>Depart day</th>
      <th>Depart frequency</th>
      <th>Duration</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.type %></td>
        <td><%= event.origin_id %></td>
        <td><%= event.destination_id %></td>
        <td><%= event.weight %></td>
        <td><%= event.volume %></td>
        <td><%= event.priority_id %></td>
        <td><%= event.price_per_gram %></td>
        <td><%= event.price_per_cubic_cm %></td>
        <td><%= event.transport_company_id %></td>
        <td><%= event.transport_type_id %></td>
        <td><%= event.depart_day %></td>
        <td><%= event.depart_frequency %></td>
        <td><%= event.duration %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
