<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @event.origin_id %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @event.destination_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @event.weight %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @event.volume %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @event.priority_id %>
</p>

<p>
  <strong>Price per gram:</strong>
  <%= @event.price_per_gram %>
</p>

<p>
  <strong>Price per cubic cm:</strong>
  <%= @event.price_per_cubic_cm %>
</p>

<p>
  <strong>Transport company:</strong>
  <%= @event.transport_company_id %>
</p>

<p>
  <strong>Transport type:</strong>
  <%= @event.transport_type_id %>
</p>

<p>
  <strong>Depart day:</strong>
  <%= @event.depart_day %>
</p>

<p>
  <strong>Depart frequency:</strong>
  <%= @event.depart_frequency %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
