<p>
<% prev = Event.find_by_id(@cost_event.id-1) %>
<% if !prev.nil? %>
<%= link_to "<< Previous", prev %>
<% end %>
<% if prev.nil? %>
<< Previous
<% end %>
<% nexte = Event.find_by_id(@cost_event.id+1) %>
<% if !nexte.nil? %>
<%= link_to "Next >>", nexte %>
<% end %>
<% if nexte.nil? %>
Next >>
<% end %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cost_event.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= Location.find(@cost_event.origin_id).name  %>
</p>

<p>
  <strong>Destination:</strong>
  <%= Location.find(@cost_event.destination_id).name  %>
</p>

<p>
  <strong>Priority:</strong>
  <%= Priority.find(@cost_event.priority_id).name %>
</p>

<p>
  <strong>Transport company:</strong>
  <%= Company.find(@cost_event.transport_company_id).name %>
</p>

<p>
  <strong>Cost(Volume):</strong>
  $<%= @cost_event.costVolume %>/cm³
</p>

<p>
  <strong>Cost (Weight)</strong>
  $<%= @cost_event.costWeight %>/g
</p>

<p>
  <strong>Depart day:</strong>
  <%= Date::DAYNAMES[@cost_event.depart_day.to_i] %>
</p>

<p>
  <strong>Depart frequency:</strong>
  Every <%= @cost_event.depart_frequency %> hour(s)
</p>

<p>
  <strong>Duration:</strong>
  <%= @cost_event.duration %> hour(s)
</p>

<p><%= link_to "Show Figures For This Event", '/figures/event_figures/'+@cost_event.id.to_s %></p>
<%= link_to 'Back', events_path %>
