<p>
  <strong>Type:</strong>
  <%= @cost_event.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= Location.find(@cost_event.origin_id).name  %>
</p>

<p>
  <strong>Destination:</strong>
  <%= Location.find(@cost_event.destination_id).name  %>
</p>

<p>
  <strong>Priority:</strong>
  <%= Priority.find(@cost_event.priority_id).name %>
</p>

<p>
  <strong>Cost(Volume):</strong>
  $<%= @cost_event.costVolume %>/cm³
</p>

<p>
  <strong>Cost (Weight)</strong>
  $<%= @cost_event.costWeight %>/g
</p>

<p>
  <strong>Price per gram:</strong>
  <%= @cost_event.price_per_gram %>
</p>

<p>
  <strong>Price per cubic cm:</strong>
  <%= @cost_event.price_per_cubic_cm %>
</p>

<p>
  <strong>Transport company:</strong>
  <%= Company.find(@cost_event.transport_company_id).name %>
</p>

<p>
  <strong>Transport type:</strong>
  <%= @cost_event.transport_type_id %>
</p>

<p>
  <strong>Depart day:</strong>
  <%= @cost_event.depart_day %>
</p>

<p>
  <strong>Depart frequency:</strong>
  Every <%= @cost_event.depart_frequency %> hour(s)
</p>

<p>
  <strong>Duration:</strong>
  <%= @cost_event.duration %> hour(s)
</p>
<p><%= link_to "Show Figures For This Event", 'figures/event_figures/'+@cost_event.id.to_s %></p>
<%= link_to 'Back', events_path %>
