<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @cost_event.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @cost_event.origin_id %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @cost_event.destination_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @cost_event.weight %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @cost_event.volume %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @cost_event.priority_id %>
</p>

<p>
  <strong>Price per gram:</strong>
  <%= @cost_event.price_per_gram %>
</p>

<p>
  <strong>Price per cubic cm:</strong>
  <%= @cost_event.price_per_cubic_cm %>
</p>

<p>
  <strong>Transport company:</strong>
  <%= @cost_event.transport_company_id %>
</p>

<p>
  <strong>Transport type:</strong>
  <%= @cost_event.transport_type_id %>
</p>

<p>
  <strong>Depart day:</strong>
  <%= @cost_event.depart_day %>
</p>

<p>
  <strong>Depart frequency:</strong>
  <%= @cost_event.depart_frequency %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @cost_event.duration %>
</p>

<%= link_to 'Back', events_path %>
