<div id="content">
	<div id="sidebar">
		<%= render "layouts/sidebar" %>
	</div>
<div id="main">
<h1>KELBURN POST SERVICE</h1>
<p>
	This is the site homepage.
	
<br>
	Find me in: app/views/kps/index.html.erb
</p>
<p>
	Links to other views index pages:
<br><%= link_to 'Companies', controller: 'companies' %>
<br><%= link_to 'Locations', controller: 'locations' %>
<br><%= link_to 'Req route segs', controller: 'mail_request_route_segments' %>
<br><%= link_to 'Mails Requests', controller: 'mail_requests' %>
<br><%= link_to 'Mail Routes', controller: 'mail_routes' %>
<br><%= link_to 'Priorities', controller: 'priorities' %>
<br><%= link_to 'Route Segments', controller: 'route_segments' %>
</p>
<h2>Mail Requests:</h2>
<ul>
<% @requests.each do |request| %>
<li><%=  link_to request.mail_route.from_location.name + ' > ' + request.mail_route.to_location.name, request %></li>
<% end %>
</ul>
</div>
</div>