<p>
  <strong>Type:</strong>
  <%= @price_event.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= Location.find(@price_event.origin_id).name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= Location.find(@price_event.destination_id).name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= Priority.find(@price_event.priority_id).name %>
</p>

<p>
  <strong>New Margin:</strong>
  <%= @price_event.margin %>
</p>

<p>
  <strong>Transport company:</strong>
  <%= @price_event.transport_company_id %> <!--need a way to access transport company from mail route-->
</p>

<p>
  <strong>Transport type:</strong>
  <%= @price_event.transport_type_id %>
</p>
<p><%= link_to "Show Figures For This Event", '/figures/event_figures/'+@price_event.id.to_s %></p>
<%= link_to 'Back', events_path %>
