<p>
  <strong>Type:</strong>
  <%= @price_event.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @price_event.origin_id %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @price_event.destination_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @price_event.priority_id %>
</p>

<p>
  <strong>New Margin:</strong>
  <%= @price_event.margin %>
</p>

<p>
  <strong>Transport company:</strong>
  <%= @price_event.transport_company_id %>
</p>

<p>
  <strong>Transport type:</strong>
  <%= @price_event.transport_type_id %>
</p>

<%= link_to 'Back', events_path %>
