<p>
<% prev = Event.find_by_id(@price_event.id-1) %>
<% if !prev.nil? %>
<%= link_to "<< Previous", prev %>
<% end %>
<% if prev.nil? %>
<< Previous
<% end %>
<% nexte = Event.find_by_id(@price_event.id+1) %>
<% if !nexte.nil? %>
<%= link_to "Next >>", nexte %>
<% end %>
<% if nexte.nil? %>
Next >>
<% end %>
</p>

<p>
  <strong>Type:</strong>
  <%= @price_event.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= Location.find(@price_event.origin_id).name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= Location.find(@price_event.destination_id).name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= Priority.find(@price_event.priority_id).name %>
</p>

<p>
  <strong>New Margin:</strong>
  <%= @price_event.margin %>
</p>



<p><%= link_to "Show Figures For This Event", '/figures/event_figures/'+@price_event.id.to_s %></p>
<%= link_to 'Back', events_path %>
